body {
	background-image: url("../images/background.PNG");
	color: #777777;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.contact {
	border:solid black 1px;
	left:6%;
	padding-bottom: 2%;
	text-align:center;
	margin-top: 5%;
	background-color: white;
	border:solid 1px #dddddd;

}

.about {
	border:solid black 1px;
	padding-bottom: 2%;
	margin-top: 5%;
	background-color: white;
	line-height: 190%;
	border:solid 1px #dddddd;
}

h1, h2 {
	color: #4aaaa5;
	padding-bottom: 3px;
	border-bottom:solid 2px lightgrey;
	width:90%;
	font-family: Georgia, Times, Times New Roman, serif; 
	

}

.navbar {
	background-color: white;
	border-bottom: solid 1px #dddddd;
}
.navbar-brand {
	background-color: #4aaaa5;
	font-family: Georgia, Times, Times New Roman, serif; 
	color:white;

}

footer {

   position:fixed;
   bottom:0;
   left:0;
   width:100%;
   height:70px;   /* Height of the footer */
   background:#666666;
   color: white;
   text-align: center;
   padding-top:10px;
   border-top: solid  #4aaaa5 8px ;

}
