
html, body {
  height: 100%;
  width:100%;
  margin: 0px;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer, .push {
  height: 50px;
}

body {
	background-image: url("../images/background.PNG");
	color: #777777;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.contact {
	border:solid black 1px;
	left:6%;
	padding-bottom: 2%;
	text-align:center;
	margin-top: 5%;
	background-color: white;
	border:solid 1px #dddddd;

}

.contactMe {
	
	left:23%;
	padding-bottom: 2%;
	text-align:center;
	margin-top: 5%;
	background-color: white;
	border:solid 1px #dddddd;

	}

.about {
	border:solid black 1px;
	padding-bottom: 2%;
	margin-top: 5%;
	background-color: white;
	line-height: 190%;
	border:solid 1px #dddddd;
}

h1, h2 {
	color: #4aaaa5;
	padding-bottom: 3px;
	border-bottom:solid 2px lightgrey;
	width:90%;
	font-family: Georgia, Times, Times New Roman, serif; 
	

}

.navbar {
	background-color: white;
	border-bottom: solid 1px #dddddd;
}
.navbar-brand {
	background-color: #4aaaa5;
	font-family: Georgia, Times, Times New Roman, serif; 
	color:white;

}

.portfolio {
	
	padding-bottom: 2%;
	text-align:center;
	margin-top: 5%;
	padding-bottom:0;
	background-color: white;
	border:solid 1px #dddddd;
}

footer {

   position:fixed;
   bottom:0;
   left:0;
   width:100%;
  /* Height of the footer */
   background:#666666;
   color: white;
   text-align: center;
   padding-top:10px;
   border-top: solid  #4aaaa5 8px ;

}

.banner {

	width:100%;
	height:45px;
	margin:0;
	background-color:  #4aaaa5;
	text-align:center;
	margin-right:0px;
	bottom:65px;
	color:white;
	font-family: times new roman;
	padding-top: 10px;
	padding-left:0px;
	font-size: 20px;

}

.img {
	height:100%;
	width:100%;
}

@media only screen and (max-width: 980px) {

	.contactMe {
		left:0%;

	}


@media only screen and (max-width: 640px){

	.contactMe {
		left:0%;
	}

}